<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GoDrive__Guna_.Properties.Settings.cn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GoDrive__Guna_.Properties.Settings.Customer_ChatConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Customer Chat.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GoDrive__Guna_.Properties.Settings.PaymentMDatabasecn"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PaymentMDatabase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GoDrive__Guna_.Properties.Settings.PaymentManagebaseCn"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PaymentManagebase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GoDrive__Guna_.Properties.Settings.Paymentcn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PaymentDatabase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GoDrive__Guna_.Properties.Settings.ClientManagementcn"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ClientManagement.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GoDrive__Guna_.Properties.Settings.HomepagedatabaseCn"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Homepagedatabase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>